.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.App > * {
  margin: 0 2rem 3rem 2rem;
}

.App .fieldContainer {
  display: flex;    
  align-items: center;  
}

.App .fieldContainer > * {
  margin-left: 1rem;
}
.App .fieldContainer > *:first-child {
  margin-left: 0;
}

.App .effectiveTaxRate {
  height: 1.5rem;
  font-weight: 700; 
}

.App h1 {
  margin: 3rem 2rem 3rem 2rem;
}
